$color-yellow       : #ecdec7;
$color-yellow-text  : #fff4d3;
$color-purple       : #872750;
$color-primary      : $color-purple;

// Footer Theme
.site-footer {
    background-color: $color-yellow;

    &--top {
        background-color: $color-purple;
    }
}

.site-footer--top {
    color: $color-yellow-text;
    a {
        color: $color-yellow-text;
    }
}
