@charset 'utf-8';

/* Reset */

@import 'normalize.css';

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts - quattrocentro & icon fonts */

@import 'fonts.css';

/* grid */

@lost gutter 20px;

.row {
    lost-center: 60rem; /* 960 pixels */
}

.half,
.column {
    lost-column: 1/1;
}

@media only screen and (min-width: 48.063em) {
    .half {
        lost-column: 1/2;
    }
    .sidebar {
        lost-column: 2/5;
    }
    .column {
        lost-column: 3/5;
    }
}

/* Layout */

.site-branding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-menu,
.site-contact {
    margin: 0;
    padding-left: 0;

    @media (min-width: 1000px){
        text-align: center;

        li {
            display: inline-block;
        }
    }
}

.site-contact {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: 1000px){
        li {
            padding-left: 10px;
            padding-right: 10px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.site-menu-footer {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: 1000px){
        display: block;
    }

    a {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.site-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Navigation */

.main-navigation {
    @media (max-width: 1000px) {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }
}

.site-menu {
    border-bottom: 1px solid $color-grey-border;

    @media (min-width: 1000px){
        li {
            position: relative;
            padding-right: 16px;

            &:before {
                position: absolute;
                top: 11px;
                right: 0;
            }

            &:last-child {
                padding-right: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    a {
        display: block;
        padding-left: 10px;

        @media (min-width: 1000px){
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}


/* Theme */

@import 'theme.css';

/* Plugins - WP Forecast */

@import 'wp-forecast.css';