@charset 'utf-8';

/* String Replace */

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

/* Font Face */

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face(quattrocentoregular, "../fonts/quattrocento-webfont");
@include font-face(quattrocentobold, "../fonts/quattrocento-bold-webfont");
@include font-face(southern_aire_personal_use_Rg, "../fonts/southern_aire_personal_use_Rg");

$font-quattrocento-regular: 'quattrocentoregular', sans-serif;
$font-quattrocento-bold: 'quattrocentobold', sans-serif;
$font-southern: 'southern_aire_personal_use_Rg', sans-serif;

.font-quattrocento-regular { font-family: $font-quattrocento-regular; }
.font-quattrocento-bold { font-family: $font-quattrocento-bold; }
.font-southern { font-family: $font-southern; }

/* Footer Layout */
.site-footer--top,
.site-footer--bottom {
    ul {
        text-align: center;
        li {
            display: inline-block;
        }
    }
}

/* services */
.hl-pilars {
    ol {
        margin: 0;
    }

    li {
        position: relative;
        list-style-type: none;
        padding-left: 42px;
        margin-bottom: 15px;
    }

    li::before {
        position: absolute;
        top: 0;
        left: 0;

        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 1000px;
        text-align: center;
        line-height: 30px;
    }
    ol {
        li:nth-child(1)::before {
            content: '1',
        }
        li:nth-child(2)::before {
            content: '2',
        }
        li:nth-child(3)::before {
            content: '3',
        }
        li:nth-child(4)::before {
            content: '4',
        }
        li:nth-child(5)::before {
            content: '5',
        }
    }

    /* 2nd column bullets */
    .hl-pilars-last ol {
        li:nth-child(1)::before {
            content: '6',
        }
        li:nth-child(2)::before {
            content: '7',
        }
        li:nth-child(3)::before {
            content: '8',
        }
        li:nth-child(4)::before {
            content: '9',
        }
        li:nth-child(5)::before {
            content: '10',
        }
    }
}

// @import 'theme';

// @import 'slick';
// @import 'slick-theme';

.hello {
    display: none;
}