@charset 'utf-8';

/* Reset */

@import 'normalize.css';

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts */

@import 'fonts.css';

/* grid */

@lost gutter 20px;

.row {
    lost-center: 60rem; /* 960 pixels */
}

.half,
.column {
    lost-column: 1/1;
}

@media only screen and (min-width: 48.063em) {
    .half {
        lost-column: 1/2;
    }
    .sidebar {
        lost-column: 2/5;
    }
    .column {
        lost-column: 3/5;
    }
}

/* Layout */

.site-menu,
.site-contact {
    margin: 0;
    padding-left: 0;
    text-align: center;
    li {
        display: inline-block;
    }
}

/* Theme */

.site-menu,
.site-menu-footer {
    text-align: center;
    text-transform: uppercase;
    a {
        text-decoration: none;
        font-family: $font-quattro-bold;
    }
}

.site-info {
    text-align: center;
    font-size: 13px;
    p {
        margin: 0;
        line-height: 1;
    }
}

body {
    font-family: $font-quattro;
    font-weight: normal;
}