$color-red           : #611D25;
$color-yellow        : #FFF5D8;
$color-yellow-border : #ECDEC7;
$color-purple        : #872750;
$color-purple-text   : #421233;
$color-yellow-text   : #FFF4D3;

body {
    font-family: $font-quattro;
    font-weight: normal;
    color: $color-purple-text;
}

.row-red {
    background-color: $color-red;
    color: $color-yellow-text;
}

.row-yellow {
    background-color: $color-yellow;
}

.row-purple {
    background-color: $color-purple;
    color: $color-yellow-text;

    [class^="icon-"],
    [class*=" icon-"] {
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-radius: 1000px;

        color: $color-purple;
        background-color: $color-yellow;
        text-align: center;
    }
}

.site-menu,
.site-menu-footer {
    text-align: center;
    text-transform: uppercase;
    a {
        /* text-decoration: none; */
        font-family: $font-quattro-bold;
        font-size: 15px;
    }
}

.site-menu-footer {
    border-bottom: 1px solid $color-yellow-border;
}

.site-info {
    text-align: center;
    font-size: 13px;
    p {
        margin: 0;
        line-height: 1;
        font-family: $font-quattro-bold;
        color: $color-purple;
    }
}

/* Links */

.site-menu-footer a,
.site-info a {
    color: $color-purple;
}

.site-contact a {
    color: $color-yellow;
}