$color-white         : #FFFFFF;
$color-red           : #611D25;
$color-red-border    : #D96F77;
$color-red-text      : #C2414A;
$color-yellow        : #FFF5D8;
$color-yellow-border : #ECDEC7;
$color-yellow-text   : #FFF4D3;
$color-yellow-dark   : #FFEEBC;
$color-purple        : #872750;
$color-purple-text   : #421233;
$color-grey-border   : #ECE6E8;
$color-blue          : #3B5998;

body {
  font-family: $font-quattro;
  font-weight: normal;
  color: $color-purple-text;
}

figure {
  margin: 0;
}

.site-header {
  background-color: $color-yellow;
}

.site-branding {
  background-image: url('../images/bg-site-branding.png');
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom: 1px solid $color-grey-border;
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
}

.site-title a {
  display:block;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/logo-hosteria-los-lenos.png');
  width: 264px;
  height: 173px;

  /* hide text */
  overflow:hidden;
  text-indent:-9000px;
}

.row-red {
  background-color: $color-red;
  color: $color-yellow-text;
}

@define-extend bg-yellow {
  background-color: $color-yellow;
}

@define-extend bg-yellow-dark {
  background-color: $color-yellow-dark;
}

.row-purple {
  background-color: $color-purple;
  color: $color-yellow-text;

  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 1000px;

    color: $color-purple;
    background-color: $color-yellow;
    text-align: center;
  }
}

.site-menu,
.site-menu-footer {
  text-transform: uppercase;

  @media (min-width: 1000px){
    text-align: center;
  }

  a {
    font-family: $font-quattro-bold;
    font-size: 15px;
  }
}

.site-menu-footer {
  border-bottom: 1px solid $color-yellow-border;
}

.site-info {
  text-align: center;
  font-size: 13px;
  p {
    margin: 0;
    line-height: 1;
    font-family: $font-quattro-bold;
    color: $color-purple;
  }
}

/* Typography */

.text-phone {
  font-size: 24px;
}

.text-email {
  font-family: sans-serif;
  color: $color-red-text;
}

/* Navigation */

.site-menu-mobile {
  position: relative;
  display: block;
  padding: 8px 10px;

  background-color: $color-purple;
  color: $color-yellow-text;
  font-size: 18px;
  font-family: $font-quattro-bold;
  text-decoration: none;
  text-transform: uppercase;

  /* hide by default */
  @media (min-width: 1000px) {
    display: none;
  }

  &:before {
    position: absolute;
    top: 8px;
    right: 10px;

    font-family: 'icomoon';
    content: "\f0c9";
  }
}

.site-menu {
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-border;

  li {
    list-style-type: none;
  }

  @media (min-width: 1000px){
    li {
      &:before {
        font-family: 'icomoon';
        content: "\e901";
        color: $color-purple;
      }
    }
  }

  a {
    line-height: 39px;
    font-size: 17px;
    font-family: $font-quattro-bold;
    text-decoration: none;
    color: $color-purple-text;

    &:hover {
      background-color: $color-purple-text;
      color: $color-yellow-text;
    }
  }
}

.site-content {
  @extend bg-yellow;
}

.site-content-bottom {
  border-top: 1px solid $color-grey-border;

  .column {
    padding-top: 30px;
    border-top: 1px solid $color-grey-border;

    @media (min-width: 48.063em) {
      padding-left: 50px;
      border-top-width: 0;
      border-left: 1px solid $color-grey-border;
    }
  }
}

.entry-title {
  font-family: $font-southern;
  font-size: 60px;
  font-weight: normal;
  color: $color-purple;
}

.site-footer {
  @extend bg-yellow;
}

/* Links */

.site-menu-footer a,
.site-info a {
  color: $color-purple;
}

.site-contact a {
  color: $color-yellow;
}

/* Forms */
label {
  font-family: $font-quattro-bold;
  font-size: 17px;
  color: $color-purple;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid $color-purple;
}

a.button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 10px;
}

a.button,
.form-button {
  border-width: 0;
  background-color: $color-purple;
  color: $color-yellow;
  font-size: 17px;
  font-family: $font-quattro-bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

/* Homepage */

.bx-wrapper img {
  height: auto;
}

.home-featured-services {

  a {
    text-decoration: none;
  }

  .item {
    border: 6px solid #c2414a;
    border-radius: 50%;
  }

  h2 {
    margin: 0;
    color: $color-white;
    font-family: $font-southern;
    font-size: 68px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 1px 2px #4e161a;
  }

}

.home-tourism-text {

  h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 21px;

    strong {
      display: block;
      text-transform: uppercase;
      font-size: 30px;
    }

  }

  p {
    font-size: 19px;
  }
}

.home-featured-text {
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-family: $font-serif;
    font-size: 27px;
    font-style: italic;
    color: $color-yellow;
    text-align: center;

    &:before,
    &:after {
      display: block;
      content: '';
      background-image: url('../images/icon-misc.png');
      width: 35px;
      height: 9px;
      margin-left: auto;
      margin-right: auto;
    }

    &:before {
      margin-bottom: 15px;
    }

    &:after {
      margin-top: 15px;
    }

  }

}

/* Global - About */

.hosteria-about {
  img {
    margin-bottom: 30px;
  }
  p {

    line-height: 1.2;
  }
}

/* Global - Social */

.hosteria-social {
  padding-top: 18px;
  border-top: 1px solid $color-grey-border;

  .icon-facebook {
    float: left;
    display: block;
    margin-right: 10px;
    width: 60px;
    height: 60px;

    background-color: $color-blue;
    color: $color-white;
    text-align: center;
    line-height: 58px;
    font-size: 32px;
    border-radius: 1000px;
  }

  h4 {
    margin: 0;
    color: $color-blue;
    font-family: $font-quattro-bold;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  p {
    font-size: 19px;
    color: $color-blue;
  }

  a {
    font-family: $font-quattro-bold;
    color: $color-blue;
    text-decoration: none;
  }
}

/* page: rates */

.hosteria-rates {
  padding-bottom: 15px;
  border-bottom: 1px solid $color-grey-border;

  h2 {
    text-transform: uppercase;
  }

  p {
    margin: 0;
    padding: 15px 10px;
    line-height: 1;
    background-color: $color-red-text;
    color: $color-yellow;
    text-align: center;

    strong {
      text-transform: uppercase;
    }
  }
}

.hosteria-hours {
  p {
    line-height: 1.2;

    &:first-child {
      font-size: 21px;
      font-family: $font-quattro-bold;
    }
  }
}

.hosteria-contact-us {
  @extend bg-yellow-dark;

  p {
    margin-bottom: 0;
    text-align: center;
    font-family: $font-quattro-bold;
    @media (min-width: 830px) { text-align: right; }
    @media (min-width: 960px) { text-align: center; }
  }
}

.hosteria-restrictions ul {
  margin: 0;
  list-style-image: url('../images/icon-bullet.png');

  li {
    margin-bottom: 8px;
  }
}

.decoration {
  background-image: url('../images/ui-decoration.png');
  background-repeat: no-repeat;
}

.decoration-01 {
  background-position: 0 0;
  width: 232px;
  height: 130px;
}

.decoration-03 {
  background-position: 0 -398px;
  width: 114px;
  height: 199px;
}

.decoration-04 {
  background-position: 0 -598px;
  width: 140px;
  height: 145px;
}

/* page: location */

.hosteria-location-map-text {
  background-color: $color-red-text;
  color: $color-yellow;
  p {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.hosteria-location-text {
  h2 {
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: $color-red-text;

    &:after {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 10px;

      content: "\f054";
      font-family: 'icomoon';
      color: $color-yellow;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      background-color: $color-red-text;

      border-radius: 12px;

      @media (max-width: 348px) {
        display: none;
      }
    }

    &:hover {
      text-decoration: underline;
      color: $color-purple-text;

      &:after {
        background-color: $color-purple-text;
      }
    }
  }
}

/* page: services */

.hosteria-services-list {
  ul {
    list-style-image: url('../images/icon-bullet.png');
  }
}

.hosteria-services-tourism {
  @extend bg-yellow-dark;
}

.hosteria-services-peaceful {
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.hosteria-services-pillars {
  ol {
    margin: 0;
    padding-left: 0;

    li {
      padding-left: 40px;
      margin-bottom: 20px;
      list-style: none;
      position: relative;

      @media (min-width: 770px) {
        min-height: 60px;
      }

      &:before {
        position: absolute;
        top: -8px;
        left: 0;
        display: inline-block;
        color: $color-purple;

        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 2px solid $color-purple;

        text-align: center;
        line-height: 30px;
        font-family: $font-quattro-bold;
        font-size: 18px;
      }

      &:first-child:before {
        content: '1';
      }

      &:nth-child(2):before {
        content: '2';
      }

      &:nth-child(3):before {
        content: '3';
      }

      &:nth-child(4):before {
        content: '4';
      }

      &:nth-child(5):before {
        content: '5';
      }
    }
  }

  .half.last ol li {
    &:first-child:before {
      content: '6';
    }

    &:nth-child(2):before {
      content: '7';
    }

    &:nth-child(3):before {
      content: '8';
    }

    &:nth-child(4):before {
      content: '9';
    }

    &:nth-child(5):before {
      content: '10';
    }
  }
}

/* page: tourism */

.hosteria-tourism-nav {

  @media (max-width: 769px) {

    li {
      display: inline-block;

      &:after {
        content: '/';
        display: inline-block;
        margin-left: 5px;
      }

      &:last-child:after {
        display: none;
      }

      a {
        text-decoration: none;
        color: $color-red-text;
      }
    }

    li.current-menu-item {
      a {
        text-decoration: none;
        font-family: $font-quattro-bold;
        color: $color-purple-text;
      }
    }

  } /* end @media */

  @media (min-width: 770px) {

    background-color: $color-red-text;

    li {
      display: block;
      border-bottom: 1px solid $color-red-border;
      list-style-type: none;

      &.current-menu-item a {
        background-color: $color-purple;
      }
    }

    a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-yellow;

      &:hover,
      &:active {
        background-color: $color-purple;
      }
    }

  } /* end @media */

}

.hosteria-tourism-history {

  .row {
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
    height: auto;
    border-radius: 50%;
    border: 4px solid $color-purple;

    @media (min-width: 500px) {
      max-width: 100%;
    }
  }

  a {
    color: $color-red-text;
  }
}

/* Fotos */

.hosteria-galeria {
  border-top: 5px solid $color-purple;
  background-color: $color-yellow-dark;
  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: $color-purple;
    line-height: 1;
    font-family: $font-southern;
    font-size: 45px;
    font-weight: normal;

    @media (min-width: 640px) {
      font-size: 60px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 35px;
        height: 9px;
        background-image: url('../images/icon-misc-dark.png');
        margin-bottom: 15px;
      }

      &:before {
        margin-right: 20px;
      }

      &:after {
        margin-left: 20px;
      }

    }

  }

  .bx-wrapper img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .bx-wrapper .bx-controls-direction a {
    text-indent: 0;
    text-decoration: none;

    @media (max-width: 640px) {
      top: auto;
      bottom: -35px;
    }
  }

  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    background: none;
    background-color: $color-red-text;
    width: 30px;
    height: 30px;
    border-radius: 3px;

    &:before {
      font-family: 'icomoon';
      color: $color-yellow;
      font-size: 20px;
      line-height: 30px;
    }

    &:hover {
      background-color: $color-purple;
      color: $color-yellow-dark;
    }

    @media (min-width: 640px) {
      width: 60px;
      height: 60px;
      border-radius: 3px;

      &:before {
        font-family: 'icomoon';
        color: $color-yellow;
        font-size: 30px;
        line-height: 60px;
      }

    }

  }

  @media (max-width: 640px) {

    .bx-wrapper .bx-prev {
      left: 0;
      width: 90px;
    }

    .bx-wrapper .bx-next {
      right: 0;
      width: 90px;
    }

  }

  .bx-wrapper .bx-prev:before {
    content: "\f053";
  }

  .bx-wrapper .bx-next:before {
    content: "\f054";
  }

}
